{{> head }}
{{> navbar }}
        
<div class="row">
    <h1> Capitán America </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quos mollitia laudantium quas, harum ad in sunt repudiandae sequi maiores quaerat odio, voluptatibus nostrum inventore at! Laborum quaerat aliquid eius?
    </p>
</div>

<div class="col-4">
    <img src="assets/img/imagen.png" class="img-thumbnail">

</div>



   
{{> footer }}